<%- include('header') %>

    <body>
        <div class="container">
            <div class="row justify-content-center full_min_height">
                <% loggedIn=false; if (!loggedIn) { %>
                    <%- include('user/login') %>
                        <% } else { %>
                            <div class="col-12 col-md-6 justify-content-center d-flex">
                                <div class="row my-3">
                                    <div class="col-12 col-lg-6">
                                        <%- include('uploadForm') %>
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <%- include('sessionCounter') %>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-center flex-column ">
                                    <%- include('images') %>
                                </div>
                                <% } %>
                            </div>
    </body>

    <%- include('footer') %>