<%- include('../header') %>
    <div class="container">
        <%- include('../components/menu') %>
    </div>
    <div
        class="three-quarter-min-height col-12 d-flex flex-column justify-content-center align-content-center align-items-center">
        <div class="login-form align-content-center">
            <h6 class="mb-3">Új jelszó megadása</h6>
            <%- include('../components/errors') %>
                <% if (typeof userSaveSuccess !=='undefined' ) { %>
                    <div class="alert alert-success alert-dismissible fade show rounded-pill" role="alert">
                        A jelszó megváltoztatása sikeres volt!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } else { %>
                        <form id="newPasswordForm" method="post">
                            <div class="form-outline mb-4">
                                <input type="password" id="password" name="password" placeholder="Jelszó"
                                    class="form-control rounded-pill" />
                            </div>

                            <div class="form-outline mb-2">
                                <input type="password" id="confirmPassword" name="confirmPassword"
                                    placeholder="Jelszó megerősítése" class="form-control rounded-pill" />
                            </div>

                            <div class="mb-4" id="divCheckPasswordMatch">
                                <% if (typeof passwordError !=='undefined' ) { %>
                                    <%= passwordError %>
                                        <% } %>
                            </div>

                            <input type="submit" value="Új jelszó mentése"
                                class="btn btn-primary btn-block mb-4 w-100 rounded-pill" />
                        </form>
                        <% } %>
        </div>
        <%- include('../footer') %>